<% provide(:title, 'Home') %>

<!DOCTYPE html>
<head><title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title></head>
<body>
<h1>Sample App</h1>
<p>this is the home page for the 

  <a href="http://railstutorial.org/">ror tutorial</a></p>
</body>
  </html>
